@charset "UTF-8";
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0; }

.grid,
.grid-full {
  max-width: 1040px;
  margin-left: auto;
  margin-right: auto; }
  .grid::after,
  .grid-full::after {
    clear: both;
    content: "";
    display: block; }

.grid {
  padding-right: 1.5rem;
  padding-left: 1.5rem; }
  @media screen and (min-width: 600px) {
    .grid {
      padding-right: 3rem;
      padding-left: 3rem; } }

  .width-one-fourth {
    float: left;
    display: block;
    margin-right: 4.82916%;
    width: 47.58542%; }
    .width-one-fourth:last-child {
      margin-right: 0; }
    .width-one-fourth:nth-child(2n) {
      margin-right: 0; }

  .width-one-fourth {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%; }
    .width-one-fourth:last-child {
      margin-right: 0; }
    .width-one-fourth:nth-child(2n) {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 23.23176%; }
      .width-one-fourth:nth-child(2n):last-child {
        margin-right: 0; }
    .width-one-fourth:nth-child(4n) {
      margin-right: 0; }

html {
  font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 10px; }

body {
  font-size: 1.7rem; }

p {
  line-height: 1.5;
  margin-bottom: 1em;
  margin-top: 1em; }

a {
  color: #105bd8;
  text-decoration: underline; }
  a:hover, a:active {
    color: #0b3d91; }
  a:focus {
    outline: 2px dotted #aeb0b5;
    outline-offset: 3px; }
  a:visited {
    color: #4c2c92; }

.footer-primary-section {
  background-color: #f1f1f1; }
  .footer-primary-section .footer-primary-content {
    padding-left: 1.5rem;
    padding-right: 2.5rem; }
    @media screen and (min-width: 600px) {
      .footer-primary-section .footer-primary-content {
        padding-left: 0;
        padding-right: 0; } }
    .footer-primary-section .footer-primary-content li {
      margin-left: 1rem; }
      @media screen and (min-width: 600px) {
        .footer-primary-section .footer-primary-content li {
          margin-left: 0; } }
  @media screen and (min-width: 600px) {
    .footer-primary-section .grid-full {
      padding-left: 2.5rem;
      padding-right: 2.5rem; } }

.footer-medium .footer-contact_info p {
  margin: 0 1rem 0 0; }
  @media screen and (min-width: 600px) {
    .footer-medium .footer-contact_info p {
      margin: 0 0 0 1rem; } }
.footer-medium .footer-contact-heading {
  margin-top: 0; }
  @media screen and (min-width: 600px) {
    .footer-medium .footer-contact-heading {
      margin-top: 0.5rem;
      margin-bottom: 0.5rem; } }
.footer-medium .footer-logo {
  padding: 1rem 0; }
  @media screen and (min-width: 600px) {
    .footer-medium .footer-logo {
      padding: 2rem 0; } }
.footer-medium .footer-primary-link {
  padding-bottom: 1.5rem;
  padding-top: 1.5rem; }
.footer-medium .footer-primary-section > .grid {
  padding: 0; }
  @media screen and (min-width: 600px) {
    .footer-medium .footer-primary-section > .grid {
      padding-left: 3rem;
      padding-right: 3rem; } }
@media screen and (min-width: 1201px) {
  .footer-medium .footer-primary-section .footer-primary-content {
    margin-right: 5%;
    width: inherit; } }
@media screen and (min-width: 1201px) {
  .footer-medium .footer-primary-section .footer-primary-content:last-child {
    margin-right: 0; } }
@media screen and (min-width: 600px) {
  .footer-medium .footer-nav ul {
    align-items: center; } }

.graphic_list .graphic_list-row .media_block {
  margin-bottom: 3rem; }
  @media screen and (min-width: 600px) {
    .graphic_list .graphic_list-row .media_block {
      margin-bottom: 6rem; } }
@media screen and (min-width: 600px) {
  .graphic_list .graphic_list-row:last-child .media_block {
    margin-bottom: 0; } }
.graphic_list .graphic_list-row:last-child .media_block:last-child {
  margin-bottom: 0; }
.graphic_list .media_block-img {
  margin-right: 3rem; }
.graphic_list .media_block-body > :first-child {
  margin-top: 0; }

.header {
  width: 100%;
  z-index: 7000; }
  @media screen and (min-width: 951px) {
    .header {
      border-bottom: 1px solid #d6d7d9; } }
  .header a {
    border-bottom: none; }
  @media screen and (min-width: 951px) {
    .header .search {
      float: right;
      max-width: 21.5rem; } }

.logo {
  float: left;
  line-height: 4rem;
  margin-left: 1.5rem; }
  @media screen and (min-width: 951px) {
    .logo {
      line-height: 7.5rem;
      margin-left: 0; } }
  .logo a {
    color: #212121;
    text-decoration: none; }
  .logo br {
    display: none; }
    @media screen and (min-width: 951px) {
      .logo br {
        display: block; } }

.logo-text {
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: block;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 700;
  margin: 0;
  letter-spacing: -0.021em; }
  @media screen and (min-width: 951px) {
    .logo-text {
      display: block;
      font-size: 2.4rem;
      line-height: 1.2; } }

.menu-btn {
  /* stylelint-disable declaration-block-no-ignored-properties */
  background-color: transparent;
  border: 0;
  border-radius: 0;
  font-weight: 400;
  margin: 0;
  padding: 0;
  text-align: left;
  -webkit-font-smoothing: auto;
  background-color: #105bd8;
  color: #ffffff;
  display: inline;
  float: right;
  font-size: 1.3rem;
  height: 4rem;
  line-height: 4rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 5.8rem;
  /* stylelint-enable */ }
  .menu-btn:hover {
    background-color: transparent; }
  @media screen and (min-width: 951px) {
    .menu-btn {
      display: none; } }
  .menu-btn:hover {
    color: #ffffff;
    background-color: #0b3d91; }
  .menu-btn:visited {
    color: #ffffff; }

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #000000;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  visibility: hidden;
  z-index: 8000; }
  .overlay.is-visible {
    opacity: 0.1;
    visibility: visible; }

@media screen and (min-width: 951px) {
  .header-basic .logo {
    bottom: 0;
    position: absolute; } }
@media screen and (min-width: 951px) {
  .header-basic .navbar {
    position: relative;
    width: 18%; } }

@media screen and (min-width: 951px) {
  .header-extended .header {
    border-bottom: none; } }
@media screen and (min-width: 951px) {
  .header-extended .logo {
    margin-top: 3rem;
    margin-bottom: 3rem; } }
@media screen and (min-width: 951px) {
  .header-extended em {
    font-size: 3.2rem;
    line-height: 1; } }
@media screen and (min-width: 951px) {
  .header-extended .navbar {
    max-width: 1040px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 3rem;
    padding-left: 3rem;
    display: block;
    height: auto; }
    .header-extended .navbar::after {
      clear: both;
      content: "";
      display: block; } }
@media screen and (min-width: 951px) {
  .header-extended .nav {
    border-top: 1px solid #d6d7d9;
    float: none;
    padding: 0;
    width: 100%; } }
@media screen and (min-width: 951px) {
  .header-extended .nav-inner {
    max-width: 1040px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 3rem;
    padding-left: 1.5rem;
    margin-top: -1px;
    position: relative; }
    .header-extended .nav-inner::after {
      clear: both;
      content: "";
      display: block; } }
@media screen and (min-width: 951px) {
  .header-extended .nav-primary::after {
    clear: both;
    content: "";
    display: block; } }
.header-extended .nav-primary button[aria-expanded=false], .header-extended .nav-primary button[aria-expanded=true] {
  /* stylelint-disable-line selector-no-qualifying-type */ }
  @media screen and (min-width: 951px) {
    .header-extended .nav-primary button[aria-expanded=false], .header-extended .nav-primary button[aria-expanded=true] {
      /* stylelint-disable-line selector-no-qualifying-type */
      background-position: right 1.5rem top 53%; } }
@media screen and (min-width: 951px) {
  .header-extended .nav-link {
    padding-top: 1.8rem;
    padding-bottom: 1.8rem; } }
@media screen and (min-width: 951px) {
  .header-extended .nav-submenu .grid-full {
    padding-left: 1.2rem; } }
@media screen and (min-width: 951px) {
  .header-extended .megamenu {
    padding-left: 3rem; } }

.header-dark {
  background-color: #212121; }
  @media screen and (min-width: 951px) {
    .header-dark {
      border-bottom-color: #323a45; } }
  .header-dark .logo a {
    color: #ffffff; }

@media screen and (min-width: 951px) {
  .header-dark.header-extended .nav {
    border-top-color: #323a45; } }

.hero {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-image: url(../images/Space-Technology/space-tech.png);
  background-position: center;
  background-size: cover; }
  .hero .button {
    color: #ffffff; }

.section-dark .hero-link {
  color: #9bdaf1; }

.hero-callout {
  background-color: #212121;
  padding: 3rem; }
  @media screen and (min-width: 481px) {
    .hero-callout {
      max-width: 30rem; } }
  .hero-callout > *:first-child {
    margin-top: 0;
    margin-bottom: 2rem; }

.hero-callout-alt {
  color: #ffffff;
  display: block; }

.layout-docs {
  display: flex;
  flex-direction: column; }
  @media screen and (min-width: 1201px) {
    .layout-docs {
      display: inherit; } }
  .layout-docs .grid > :first-child:not(.width-*) {
    margin-top: 0; }
  .layout-docs .grid > :last-child:not(.width-*) {
    margin-bottom: 0; }

.layout-docs-sidenav {
  order: 2; }

.layout-docs-main_content {
  margin-bottom: 3rem;
  order: 1; }
  @media screen and (min-width: 1201px) {
    .layout-docs-main_content {
      margin-bottom: 0; } }
  .layout-docs-main_content > :first-child {
    margin-top: 0; }

.media_block-img {
  float: left;
  margin-right: 1rem; }

.media_block-body {
  overflow: hidden; }

.section-dark {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: #212121;
  color: #ffffff; }
  .section-dark h1,
  .section-dark h2,
  .section-dark h3,
  .section-dark h4,
  .section-dark h5,
  .section-dark h6 {
    color: #9bdaf1; }
  .section-dark p {
    color: #ffffff; }
  .section-dark a {
    color: #d6d7d9; }
    .section-dark a:hover {
      color: #ffffff; }

.sidenav-list {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
  padding-left: 0;
  border-bottom: 1px solid;
  border-top: 1px solid; }
  .sidenav-list > li {
    margin-bottom: 0; }
  .sidenav-list > li {
    background-color: transparent;
    border-top: 1px solid #5b616b;
    font-size: 1.7rem; }
    .sidenav-list > li:first-child {
      border-top: none; }
  .sidenav-list a {
    border: none;
    color: #212121;
    display: block;
    font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
    line-height: 1.3;
    padding: 0.85rem 1rem 0.85rem 1.5rem;
    text-decoration: none; }
    .sidenav-list a:hover {
      background-color: #f1f1f1;
      color: #105bd8;
      text-decoration: none; }
    .sidenav-list a:focus {
      outline-offset: 0;
      position: relative;
      z-index: 1; }
    .sidenav-list a.current {
      /* stylelint-disable-line selector-no-qualifying-type */
      border-left: 0.4rem solid #105bd8;
      color: #105bd8;
      font-weight: 700;
      padding-left: 1.1rem; }
  @media screen and (min-width: 1201px) {
    .sidenav-list {
      border-bottom: none;
      border-top: none; } }
  .grid .sidenav-list {
    margin-right: -1.5rem;
    margin-left: -1.5rem; }
    @media screen and (min-width: 600px) {
      .grid .sidenav-list {
        margin-right: 0;
        margin-left: 0; } }

.sidenav-sub_list {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
  padding-left: 0;
  margin: 0;
  width: 100%; }
  .sidenav-sub_list > li {
    margin-bottom: 0; }
  .sidenav-sub_list li {
    border: none;
    font-size: 1.6rem; }
  .sidenav-sub_list a {
    padding-left: 2.8rem;
    line-height: 1.2; }
    .sidenav-sub_list a:hover, .sidenav-sub_list a.current {
      /* stylelint-disable-line selector-no-qualifying-type */
      border: none;
      padding-left: 2.8rem; }
  .sidenav-sub_list .sidenav-sub_list a {
    padding-left: 3.8rem; }
    .sidenav-sub_list .sidenav-sub_list a:focus {
      outline-offset: 0; }
    .sidenav-sub_list .sidenav-sub_list a:hover {
      padding-left: 3.8rem; }

.layout-docs-sidenav {
  padding-top: 2.4rem; }
  @media screen and (min-width: 1201px) {
    .layout-docs-sidenav {
      padding-top: 0; } }

.skipnav {
  background: transparent;
  color: #212121;
  left: 0;
  padding: 1rem 1.5rem;
  position: absolute;
  top: -4.2rem;
  transition: all 0.2s ease-in-out;
  z-index: 100; }
  .skipnav:focus {
    background: #ffffff;
    left: 0;
    outline: 0;
    position: absolute;
    top: 0;
    transition: all 0.2s ease-in-out; }

html,
body {
  height: auto; }

.page-home .graphic_list .media_block-img {
  max-width: 7rem;
  margin-right: 2rem; }
.page-home .hero {
  background-image: url("");
  padding-bottom: 7.2rem;
  padding-top: 3.2rem; }
  @media screen and (min-width: 1201px) {
    .page-home .hero {
      padding-bottom: 10.6rem; } }
.page-home .hero-callout .button {
  margin-top: 2em; }
.page-home .hero-callout {
  border-radius: 0.3rem;
  max-width: 46rem;
  padding: 3.2rem; }
  .page-home .hero-callout > :first-child, .page-home .hero-callout > :last-child {
    margin-bottom: 0; }
.page-home .hero-callout-alt {
  font-size: 2.7rem; }
.page-home .graphic_list .media_block-body > *:first-child {
  font-size: 1.7rem;
  margin-top: 0;
  margin-bottom: 0; }
.page-home .graphic_list .media_block-body > p {
  margin: 0.5rem 0;
  font-size: 1.5rem; }
.page-home .graphic_list .media_block-img {
  margin-bottom: 1rem; }
  @media screen and (min-width: 1201px) {
    .page-home .graphic_list .media_block-img {
      float: none; } }
.page-home .section-dark p {
  margin-top: 0.8rem; }
@media screen and (max-width: 1201px) and (min-width: 600px) {
  .page-home .graphic_list .graphic_list-row .media_block:nth-child(-n+2) {
    margin-bottom: 6rem; } }

.homepage-rule {
  border: 0;
  height: 1.5rem;
  width: 100%;
  position: relative; }
  .homepage-rule.center-diamond {
    background: none;
    text-align: center; }
    .homepage-rule.center-diamond:before {
      content: "\00a0";
      display: inline-block;
      background: #105bd8;
      height: 1px;
      position: relative;
      top: 0.6rem;
      width: 100%; }
    .homepage-rule.center-diamond:after {
      content: "◆";
      display: inline-block;
      position: relative;
      top: -2.9rem;
      font-size: 1.8rem;
      padding: 0 1rem;
      color: #dd361c;
      background: #ffffff; }

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0; }
  .sticky:before, .sticky:after {
    content: '';
    display: table; }

.logo img {
  vertical-align: middle;
  width: 40px;
  margin-right: 5px; }
@media screen and (min-width: 951px) {
  .logo img {
    width: 80px;
    margin-right: 10px; } }

@media screen and (min-width: 951px) {
  .site-header {
    border-bottom: none; } }
.site-header .site-logo {
  margin-left: 1.5rem; }
  @media screen and (min-width: 951px) {
    .site-header .site-logo {
      margin-top: 1rem;
      margin-bottom: 1rem;
      margin-left: 3rem; } }
.site-header .banner-inner {
  max-width: 100%; }
.site-header .banner-content {
  margin-left: 0; }
.site-header .button-list {
  float: right;
  display: none;
  margin-top: -5px; }
  @media screen and (min-width: 951px) {
    .site-header .button-list {
      line-height: 8rem;
      margin-top: 0;
      display: block;
      padding-right: 3rem; } }
  .site-header .button-list li {
    display: inline;
    font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif; }
    .site-header .button-list li:last-child .button {
      margin-right: 0; }
  .site-header .button-list .button {
    margin-top: 0;
    margin-bottom: 0; }

.site-header-navbar {
  border-bottom: none; }
  @media screen and (min-width: 951px) {
    .site-header-navbar {
      height: 10.5rem;
      width: 100%;
      display: block; } }
@-moz-document url-prefix() {
  @media screen and (min-width: 951px) {
    .site-header-navbar {
      padding-top: 1px; } } }
.sidenav-mobile .button.button-outline-inverse {
  box-shadow: inset 0 0 0 2px #105bd8;
  color: #105bd8; }
  .sidenav-mobile .button.button-outline-inverse:hover {
    box-shadow: inset 0 0 0 2px #0b3d91;
    color: #0b3d91; }
@media screen and (min-width: 951px) {
  .sidenav-mobile {
    display: none; } }
.sidenav-mobile .sidenav-sub_list[aria-hidden=true] {
  display: none; }
.sidenav-mobile li > button {
  background-color: transparent;
  border: 0;
  border-radius: 0;
  font-weight: 400;
  margin: 0;
  padding: 0;
  text-align: left;
  -webkit-font-smoothing: auto;
  font-weight: 400;
  padding: 1.4rem 1.5rem 1rem 1.8rem; }
  .sidenav-mobile li > button:hover {
    background-color: transparent; }
  .sidenav-mobile li > button:hover {
    background-color: #f1f1f1;
    color: #105bd8; }
  .sidenav-mobile li > button[aria-expanded=false] {
    background-image: url("");
    background-image: url("");
    background-repeat: no-repeat;
    background-position: right 0 center;
    background-size: 1rem; }
  .sidenav-mobile li > button[aria-expanded=true] {
    background-image: url("");
    background-image: url("");
    background-repeat: no-repeat;
    background-position: right 0 center;
    background-size: 1rem; }
.sidenav-mobile .button-list {
  margin-top: 4rem; }

.unstyled-list {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
  padding-left: 0;
}

.unstyled-list > li {
  margin-bottom: 0;
}

/* stylelint-disable selector-no-qualifying-type */
.button,
.button-primary,
.button:visited,
.button-primary:visited,
button,
[type=button],
[type=submit],
[type=reset],
[type=image] {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  margin-top: 0.5em;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #105bd8;
  border: 0;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 1;
  padding: 1rem 2rem;
  text-align: center;
  text-decoration: none;
  width: 100%;
}

@media screen and (min-width: 481px) {
  .button,
  .button-primary,
  .button:visited,
  .button-primary:visited,
  button,
  [type=button],
  [type=submit],
  [type=reset],
  [type=image] {
    width: auto;
  }
}

.button:hover, .button.button-hover,
.button-primary:hover,
.button-primary.button-hover,
.button:visited:hover,
.button:visited.button-hover,
.button-primary:visited:hover,
.button-primary:visited.button-hover,
button:hover,
button.button-hover,
[type=button]:hover,
[type=button].button-hover,
[type=submit]:hover,
[type=submit].button-hover,
[type=reset]:hover,
[type=reset].button-hover,
[type=image]:hover,
[type=image].button-hover {
  background-color: #0b3d91;
  border-bottom: 0;
  color: #ffffff;
  text-decoration: none;
}

.button:active, .button.button-active,
.button-primary:active,
.button-primary.button-active,
.button:visited:active,
.button:visited.button-active,
.button-primary:visited:active,
.button-primary:visited.button-active,
button:active,
button.button-active,
[type=button]:active,
[type=button].button-active,
[type=submit]:active,
[type=submit].button-active,
[type=reset]:active,
[type=reset].button-active,
[type=image]:active,
[type=image].button-active {
  background-color: #061f4a;
}

.button.button-primary-alt,
.button-primary.button-primary-alt,
.button:visited.button-primary-alt,
.button-primary:visited.button-primary-alt,
button.button-primary-alt,
[type=button].button-primary-alt,
[type=submit].button-primary-alt,
[type=reset].button-primary-alt,
[type=image].button-primary-alt {
  background-color: #02bfe7;
  color: #212121;
}

.button.button-primary-alt:hover, .button.button-primary-alt.button-hover,
.button-primary.button-primary-alt:hover,
.button-primary.button-primary-alt.button-hover,
.button:visited.button-primary-alt:hover,
.button:visited.button-primary-alt.button-hover,
.button-primary:visited.button-primary-alt:hover,
.button-primary:visited.button-primary-alt.button-hover,
button.button-primary-alt:hover,
button.button-primary-alt.button-hover,
[type=button].button-primary-alt:hover,
[type=button].button-primary-alt.button-hover,
[type=submit].button-primary-alt:hover,
[type=submit].button-primary-alt.button-hover,
[type=reset].button-primary-alt:hover,
[type=reset].button-primary-alt.button-hover,
[type=image].button-primary-alt:hover,
[type=image].button-primary-alt.button-hover {
  background-color: #00a6d2;
}

.button.button-primary-alt:active, .button.button-primary-alt.button-active,
.button-primary.button-primary-alt:active,
.button-primary.button-primary-alt.button-active,
.button:visited.button-primary-alt:active,
.button:visited.button-primary-alt.button-active,
.button-primary:visited.button-primary-alt:active,
.button-primary:visited.button-primary-alt.button-active,
button.button-primary-alt:active,
button.button-primary-alt.button-active,
[type=button].button-primary-alt:active,
[type=button].button-primary-alt.button-active,
[type=submit].button-primary-alt:active,
[type=submit].button-primary-alt.button-active,
[type=reset].button-primary-alt:active,
[type=reset].button-primary-alt.button-active,
[type=image].button-primary-alt:active,
[type=image].button-primary-alt.button-active {
  background-color: #046b99;
  color: #ffffff;
}

.button.button-secondary,
.button-primary.button-secondary,
.button:visited.button-secondary,
.button-primary:visited.button-secondary,
button.button-secondary,
[type=button].button-secondary,
[type=submit].button-secondary,
[type=reset].button-secondary,
[type=image].button-secondary {
  background-color: #ffffff;
  box-shadow: inset 0 0 0 2px #105bd8;
  color: #105bd8;
}

.button.button-secondary:hover, .button.button-secondary.button-hover,
.button-primary.button-secondary:hover,
.button-primary.button-secondary.button-hover,
.button:visited.button-secondary:hover,
.button:visited.button-secondary.button-hover,
.button-primary:visited.button-secondary:hover,
.button-primary:visited.button-secondary.button-hover,
button.button-secondary:hover,
button.button-secondary.button-hover,
[type=button].button-secondary:hover,
[type=button].button-secondary.button-hover,
[type=submit].button-secondary:hover,
[type=submit].button-secondary.button-hover,
[type=reset].button-secondary:hover,
[type=reset].button-secondary.button-hover,
[type=image].button-secondary:hover,
[type=image].button-secondary.button-hover {
  box-shadow: inset 0 0 0 2px #0b3d91;
  color: #0b3d91;
}

.button.button-secondary:active, .button.button-secondary.button-active,
.button-primary.button-secondary:active,
.button-primary.button-secondary.button-active,
.button:visited.button-secondary:active,
.button:visited.button-secondary.button-active,
.button-primary:visited.button-secondary:active,
.button-primary:visited.button-secondary.button-active,
button.button-secondary:active,
button.button-secondary.button-active,
[type=button].button-secondary:active,
[type=button].button-secondary.button-active,
[type=submit].button-secondary:active,
[type=submit].button-secondary.button-active,
[type=reset].button-secondary:active,
[type=reset].button-secondary.button-active,
[type=image].button-secondary:active,
[type=image].button-secondary.button-active {
  box-shadow: inset 0 0 0 2px #061f4a;
  color: #061f4a;
}

.button.button-secondary-inverse, .button.button-outline-inverse,
.button-primary.button-secondary-inverse,
.button-primary.button-outline-inverse,
.button:visited.button-secondary-inverse,
.button:visited.button-outline-inverse,
.button-primary:visited.button-secondary-inverse,
.button-primary:visited.button-outline-inverse,
button.button-secondary-inverse,
button.button-outline-inverse,
[type=button].button-secondary-inverse,
[type=button].button-outline-inverse,
[type=submit].button-secondary-inverse,
[type=submit].button-outline-inverse,
[type=reset].button-secondary-inverse,
[type=reset].button-outline-inverse,
[type=image].button-secondary-inverse,
[type=image].button-outline-inverse {
  background: transparent;
  box-shadow: inset 0 0 0 2px #ffffff;
  color: #ffffff;
}

.button.button-secondary-inverse:hover, .button.button-secondary-inverse.button-hover, .button.button-outline-inverse:hover, .button.button-outline-inverse.button-hover,
.button-primary.button-secondary-inverse:hover,
.button-primary.button-secondary-inverse.button-hover,
.button-primary.button-outline-inverse:hover,
.button-primary.button-outline-inverse.button-hover,
.button:visited.button-secondary-inverse:hover,
.button:visited.button-secondary-inverse.button-hover,
.button:visited.button-outline-inverse:hover,
.button:visited.button-outline-inverse.button-hover,
.button-primary:visited.button-secondary-inverse:hover,
.button-primary:visited.button-secondary-inverse.button-hover,
.button-primary:visited.button-outline-inverse:hover,
.button-primary:visited.button-outline-inverse.button-hover,
button.button-secondary-inverse:hover,
button.button-secondary-inverse.button-hover,
button.button-outline-inverse:hover,
button.button-outline-inverse.button-hover,
[type=button].button-secondary-inverse:hover,
[type=button].button-secondary-inverse.button-hover,
[type=button].button-outline-inverse:hover,
[type=button].button-outline-inverse.button-hover,
[type=submit].button-secondary-inverse:hover,
[type=submit].button-secondary-inverse.button-hover,
[type=submit].button-outline-inverse:hover,
[type=submit].button-outline-inverse.button-hover,
[type=reset].button-secondary-inverse:hover,
[type=reset].button-secondary-inverse.button-hover,
[type=reset].button-outline-inverse:hover,
[type=reset].button-outline-inverse.button-hover,
[type=image].button-secondary-inverse:hover,
[type=image].button-secondary-inverse.button-hover,
[type=image].button-outline-inverse:hover,
[type=image].button-outline-inverse.button-hover {
  box-shadow: inset 0 0 0 2px #d6d7d9;
  color: #d6d7d9;
}

.button.button-secondary-inverse:active, .button.button-secondary-inverse.button-active, .button.button-outline-inverse:active, .button.button-outline-inverse.button-active,
.button-primary.button-secondary-inverse:active,
.button-primary.button-secondary-inverse.button-active,
.button-primary.button-outline-inverse:active,
.button-primary.button-outline-inverse.button-active,
.button:visited.button-secondary-inverse:active,
.button:visited.button-secondary-inverse.button-active,
.button:visited.button-outline-inverse:active,
.button:visited.button-outline-inverse.button-active,
.button-primary:visited.button-secondary-inverse:active,
.button-primary:visited.button-secondary-inverse.button-active,
.button-primary:visited.button-outline-inverse:active,
.button-primary:visited.button-outline-inverse.button-active,
button.button-secondary-inverse:active,
button.button-secondary-inverse.button-active,
button.button-outline-inverse:active,
button.button-outline-inverse.button-active,
[type=button].button-secondary-inverse:active,
[type=button].button-secondary-inverse.button-active,
[type=button].button-outline-inverse:active,
[type=button].button-outline-inverse.button-active,
[type=submit].button-secondary-inverse:active,
[type=submit].button-secondary-inverse.button-active,
[type=submit].button-outline-inverse:active,
[type=submit].button-outline-inverse.button-active,
[type=reset].button-secondary-inverse:active,
[type=reset].button-secondary-inverse.button-active,
[type=reset].button-outline-inverse:active,
[type=reset].button-outline-inverse.button-active,
[type=image].button-secondary-inverse:active,
[type=image].button-secondary-inverse.button-active,
[type=image].button-outline-inverse:active,
[type=image].button-outline-inverse.button-active {
  box-shadow: inset 0 0 0 2px #aeb0b5;
  color: #d6d7d9;
}

.button.button-gray,
.button-primary.button-gray,
.button:visited.button-gray,
.button-primary:visited.button-gray,
button.button-gray,
[type=button].button-gray,
[type=submit].button-gray,
[type=reset].button-gray,
[type=image].button-gray {
  background-color: #5b616b;
}

.button.button-gray:hover, .button.button-gray.button-hover,
.button-primary.button-gray:hover,
.button-primary.button-gray.button-hover,
.button:visited.button-gray:hover,
.button:visited.button-gray.button-hover,
.button-primary:visited.button-gray:hover,
.button-primary:visited.button-gray.button-hover,
button.button-gray:hover,
button.button-gray.button-hover,
[type=button].button-gray:hover,
[type=button].button-gray.button-hover,
[type=submit].button-gray:hover,
[type=submit].button-gray.button-hover,
[type=reset].button-gray:hover,
[type=reset].button-gray.button-hover,
[type=image].button-gray:hover,
[type=image].button-gray.button-hover {
  background-color: #323a45;
}

.button.button-gray:active, .button.button-gray.button-active,
.button-primary.button-gray:active,
.button-primary.button-gray.button-active,
.button:visited.button-gray:active,
.button:visited.button-gray.button-active,
.button-primary:visited.button-gray:active,
.button-primary:visited.button-gray.button-active,
button.button-gray:active,
button.button-gray.button-active,
[type=button].button-gray:active,
[type=button].button-gray.button-active,
[type=submit].button-gray:active,
[type=submit].button-gray.button-active,
[type=reset].button-gray:active,
[type=reset].button-gray.button-active,
[type=image].button-gray:active,
[type=image].button-gray.button-active {
  background-color: #212121;
}

.button.button-red,
.button-primary.button-red,
.button:visited.button-red,
.button-primary:visited.button-red,
button.button-red,
[type=button].button-red,
[type=submit].button-red,
[type=reset].button-red,
[type=image].button-red {
  background-color: #dd361c;
}

.button.button-red:hover, .button.button-red.button-hover,
.button-primary.button-red:hover,
.button-primary.button-red.button-hover,
.button:visited.button-red:hover,
.button:visited.button-red.button-hover,
.button-primary:visited.button-red:hover,
.button-primary:visited.button-red.button-hover,
button.button-red:hover,
button.button-red.button-hover,
[type=button].button-red:hover,
[type=button].button-red.button-hover,
[type=submit].button-red:hover,
[type=submit].button-red.button-hover,
[type=reset].button-red:hover,
[type=reset].button-red.button-hover,
[type=image].button-red:hover,
[type=image].button-red.button-hover {
  background-color: #c62d1f;
}

.button.button-red:active, .button.button-red.button-active,
.button-primary.button-red:active,
.button-primary.button-red.button-active,
.button:visited.button-red:active,
.button:visited.button-red.button-active,
.button-primary:visited.button-red:active,
.button-primary:visited.button-red.button-active,
button.button-red:active,
button.button-red.button-active,
[type=button].button-red:active,
[type=button].button-red.button-active,
[type=submit].button-red:active,
[type=submit].button-red.button-active,
[type=reset].button-red:active,
[type=reset].button-red.button-active,
[type=image].button-red:active,
[type=image].button-red.button-active {
  background-color: #99231b;
}

.button.button-big,
.button-primary.button-big,
.button:visited.button-big,
.button-primary:visited.button-big,
button.button-big,
[type=button].button-big,
[type=submit].button-big,
[type=reset].button-big,
[type=image].button-big {
  border-radius: 8px;
  font-size: 2.4rem;
  padding: 1.5rem 3rem;
}

.button:disabled,
.button-primary:disabled,
.button:visited:disabled,
.button-primary:visited:disabled,
button:disabled,
[type=button]:disabled,
[type=submit]:disabled,
[type=reset]:disabled,
[type=image]:disabled {
  background-color: #d6d7d9;
  pointer-events: none;
}

.button:disabled:hover, .button:disabled.button-hover, .button:disabled:active, .button:disabled.button-active, .button:disabled:focus, .button:disabled.usa-focus,
.button-primary:disabled:hover,
.button-primary:disabled.button-hover,
.button-primary:disabled:active,
.button-primary:disabled.button-active,
.button-primary:disabled:focus,
.button-primary:disabled.usa-focus,
.button:visited:disabled:hover,
.button:visited:disabled.button-hover,
.button:visited:disabled:active,
.button:visited:disabled.button-active,
.button:visited:disabled:focus,
.button:visited:disabled.usa-focus,
.button-primary:visited:disabled:hover,
.button-primary:visited:disabled.button-hover,
.button-primary:visited:disabled:active,
.button-primary:visited:disabled.button-active,
.button-primary:visited:disabled:focus,
.button-primary:visited:disabled.usa-focus,
button:disabled:hover,
button:disabled.button-hover,
button:disabled:active,
button:disabled.button-active,
button:disabled:focus,
button:disabled.usa-focus,
[type=button]:disabled:hover,
[type=button]:disabled.button-hover,
[type=button]:disabled:active,
[type=button]:disabled.button-active,
[type=button]:disabled:focus,
[type=button]:disabled.usa-focus,
[type=submit]:disabled:hover,
[type=submit]:disabled.button-hover,
[type=submit]:disabled:active,
[type=submit]:disabled.button-active,
[type=submit]:disabled:focus,
[type=submit]:disabled.usa-focus,
[type=reset]:disabled:hover,
[type=reset]:disabled.button-hover,
[type=reset]:disabled:active,
[type=reset]:disabled.button-active,
[type=reset]:disabled:focus,
[type=reset]:disabled.usa-focus,
[type=image]:disabled:hover,
[type=image]:disabled.button-hover,
[type=image]:disabled:active,
[type=image]:disabled.button-active,
[type=image]:disabled:focus,
[type=image]:disabled.usa-focus {
  background-color: #d6d7d9;
  border: 0;
  box-shadow: none;
}

/* stylelint-disable */
.button-disabled {
  background-color: #d6d7d9;
  pointer-events: none;
}

.button-disabled:hover, .button-disabled.button-hover, .button-disabled:active, .button-disabled.button-active, .button-disabled:focus, .button-disabled.usa-focus {
  background-color: #d6d7d9;
  border: 0;
  box-shadow: none;
}

.button-secondary-disabled,
.button-secondary-inverse-disabled,
.button-secondary:disabled,
.button-secondary-inverse:disabled,
.button-outline-inverse:disabled {
  box-shadow: inset 0 0 0 2px #d6d7d9;
  pointer-events: none;
  color: #d6d7d9;
}

.button-secondary-disabled:hover, .button-secondary-disabled.button-hover, .button-secondary-disabled:active, .button-secondary-disabled.button-active, .button-secondary-disabled:focus, .button-secondary-disabled.usa-focus,
.button-secondary-inverse-disabled:hover,
.button-secondary-inverse-disabled.button-hover,
.button-secondary-inverse-disabled:active,
.button-secondary-inverse-disabled.button-active,
.button-secondary-inverse-disabled:focus,
.button-secondary-inverse-disabled.usa-focus,
.button-secondary:disabled:hover,
.button-secondary:disabled.button-hover,
.button-secondary:disabled:active,
.button-secondary:disabled.button-active,
.button-secondary:disabled:focus,
.button-secondary:disabled.usa-focus,
.button-secondary-inverse:disabled:hover,
.button-secondary-inverse:disabled.button-hover,
.button-secondary-inverse:disabled:active,
.button-secondary-inverse:disabled.button-active,
.button-secondary-inverse:disabled:focus,
.button-secondary-inverse:disabled.usa-focus,
.button-outline-inverse:disabled:hover,
.button-outline-inverse:disabled.button-hover,
.button-outline-inverse:disabled:active,
.button-outline-inverse:disabled.button-active,
.button-outline-inverse:disabled:focus,
.button-outline-inverse:disabled.usa-focus {
  background-color: #ffffff;
  border: 0;
}

html .button-secondary-disabled,
.button-secondary:disabled {
  background-color: #ffffff;
}

html .button-secondary-inverse-disabled,
.button-secondary-inverse:disabled {
  background-color: transparent;
  color: #5b616b;
  box-shadow: inset 0 0 0 2px #5b616b;
}

.button-unstyled {
  background-color: transparent;
  border: 0;
  border-radius: 0;
  font-weight: 400;
  margin: 0;
  padding: 0;
  text-align: left;
  -webkit-font-smoothing: auto;
}

.button-unstyled:hover {
  background-color: transparent;
}

.hero .button {
  color: #ffffff;
}

.nav .button {
  width: 100%;
}

.footer .unstyled-list {
  display: block;
}

.site-logo a {
  color: #ffffff; }
.site-logo em {
  line-height: 4rem; }
  @media screen and (min-width: 951px) {
    .site-logo em {
      font-size: 2.5rem;
      line-height: 8rem; } }

.site-nav-secondary {
  display: none; }
  @media screen and (min-width: 951px) {
    .site-nav-secondary {
      background-color: #ffffff;
      border-bottom: 1px solid #d6d7d9;
      clear: both;
      display: block;
      height: 5rem;
      padding-left: 1.5rem;
      z-index: 10; } }
  .site-nav-secondary ul {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
    padding-left: 0; }
    .site-nav-secondary ul > li {
      margin-bottom: 0; }
    .site-nav-secondary ul li {
      display: inline; }
  .site-nav-secondary a {
    color: #5b616b;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 5rem;
    padding: 1.5rem;
    text-decoration: none;
    -webkit-font-smoothing: antialiased; }
    .site-nav-secondary a:hover span {
      border-bottom: 0.7rem solid #105bd8;
      padding-bottom: 0.9rem;
      color: #105bd8; }
  .site-nav-secondary .current span {
    border-bottom: 0.7rem solid #105bd8;
    padding-bottom: 0.9rem;
    color: #212121; }

.sidenav {
  display: none; }
  @media screen and (min-width: 951px) {
    .sidenav {
      display: block;
      float: left;
      margin-bottom: 525px;
      margin-top: 50px;
      padding-right: 1rem;
      padding-left: 3rem;
      overflow-y: auto;
      top: 5rem;
      width: 250px; } }
  .lt-ie9 .sidenav {
    width: 25%; }
  .sidenav .navigation-submenu[aria-hidden="false"] {
    display: block; }

.main-content {
  position: absolute;
  right: 0;
  bottom: 0;
  display: inline-block;
  margin-top: 4rem;
  position: relative;
  width: 100%; }
  @media screen and (min-width: 951px) {
    .main-content {
      width: calc(100% - 250px); } }
  .lt-ie9 .main-content {
    width: 75%; }

.styleguide-content {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  margin-bottom: 5em;
  max-width: 1040px;
  position: relative; }
  @media (min-width: 951px) {
    .styleguide-content {
      padding-right: 3rem;
      padding-left: 3rem; } }
  .styleguide-content header > h1 {
    margin-top: 0; }
  .styleguide-content header .components-library-link {
    float: right;
    padding-top: 20px; }
    .styleguide-content header .components-library-link a {
      text-decoration: none; }
      .styleguide-content header .components-library-link a::after {
        background: url("") no-repeat 0 0;
        background: url("") no-repeat 0 0;
        background-size: 100%;
        content: '';
        display: inline-block;
        height: 0.65em;
        margin-bottom: -1px;
        margin-left: 4px;
        width: 0.65em; }
      .styleguide-content header .components-library-link a:hover::after {
        background-image: url("");
        background-image: url(""); }
  .styleguide-content section > .tooltip {
    margin-top: 56px; }

.product-roadmap-list {
  max-width: 100% !important; }

.label-alpha,
.label-in-progress, .label-beta,
.label-to-do, .label-recommended,
.label-done {
  color: #323a45;
  font-size: 1.4rem;
  font-weight: 700;
  margin-left: 1.2rem;
  position: absolute;
  text-decoration: none; }
  [href^="http"].label-alpha:not([href*=".gov"])::after,
  [href^="http"].label-in-progress:not([href*=".gov"])::after, [href^="http"].label-beta:not([href*=".gov"])::after,
  [href^="http"].label-to-do:not([href*=".gov"])::after, [href^="http"].label-recommended:not([href*=".gov"])::after,
  [href^="http"].label-done:not([href*=".gov"])::after {
    display: none; }

.label-alpha,
.label-in-progress {
  background-color: #ffebd1; }

.label-beta,
.label-to-do {
  background-color: #e1f3f8; }

.label-recommended,
.label-done {
  background-color: #e7f4e4; }

h1 + .tooltip a {
  margin-top: 1.7rem; }

h2 + .tooltip a {
  margin-top: 1.3rem; }

.heading-margin-alt {
  margin-top: 6rem; }

.site-subheading {
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.5;
  text-transform: uppercase;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  color: #5b616b;
  display: block;
  margin-bottom: 0.3rem;
  margin-top: 0; }

a.cta img {
  height: 1.5rem;
  margin-right: 0.4rem;
  position: relative;
  top: 2px;
  vertical-align: baseline; }

footer.site {
  clear: both; }
  footer.site h3 {
    margin-top: 0; }
  footer.site .logo-links {
    margin-bottom: 1rem;
    margin-right: 2rem; }
    @media screen and (min-width: 600px) {
      footer.site .logo-links {
        float: left;
        margin-bottom: 0; } }
    footer.site .logo-links img {
      width: 3.2rem; }
      footer.site .logo-links img.logo-nasa {
        width: 3.8rem; }
    footer.site .logo-links a {
      display: inline-block;
      line-height: 0; }
  footer.site .footer-secondary_section {
    background-color: #e1f3f8; }
    @media screen and (min-width: 600px) {
      footer.site .footer-secondary_section {
        padding-top: 3rem;
        padding-bottom: 4rem; } }

.footer-main-img {
  display: none;
  max-width: 18.1rem; }
  @media screen and (min-width: 1201px) {
    .footer-main-img {
      display: block; } }

.footer-content p {
  max-width: 75ch; }

.footer-contact-links {
  margin-top: 3rem; }
  .footer-contact-links h4, .footer-contact-links a {
    font-size: 1.3rem; }
  .footer-contact-links h4 {
    font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: auto;
    -moz-osx-font-smoothing: auto;
    margin-bottom: 0;
    margin-top: 3px; }
  .footer-contact-links a {
    color: #0b3d91;
    text-decoration: underline; }
  .footer-contact-links img {
    width: 4rem; }
  .footer-contact-links .media_block {
    clear: both;
    line-height: 1.2;
    margin-top: 2rem; }
    @media screen and (min-width: 600px) {
      .footer-contact-links .media_block {
        margin-top: 0; } }

.footer-section-bottom {
  padding-top: 1.6rem;
  padding-bottom: 1.3rem;
  background-color: #061f4a; }
  .footer-section-bottom p {
    color: #ffffff;
    font-size: 1.4rem;
    margin-top: 0;
    overflow: hidden; }
    @media screen and (min-width: 600px) {
      .footer-section-bottom p:first-of-type {
        margin-bottom: 0; } }
  .footer-section-bottom a {
    color: #ffffff; }
