body{
  background-color: #303030;
  color: #B8B8B8;
  font-family: Verdana, sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 60vh;
  overflow-x: hidden;
}

.container{
  width: 37%;
  margin: auto;
  overflow: hidden;
}

#main-header{
  background-color: #000000;
  color: #fff;
  min-height: 90px;
}

#main-header h1{
  padding: 0;
  padding-left: 70px;
  padding-top: 10px;
}

#Showcase{
  background-image: url('../images/falcon.jpg');
  background-repeat: none;
  background-repeat: round  ;
  min-height: 650px;
  border: none;
  text-align: center;
}

.Info{
  background-color: white;
  min-height: 3000px;
  border: none;
  padding-left: 3%;
}

.TextContainer {
    width: 50%;
    margin: auto;
    margin: 0;
    margin-left: 400px;
    overflow: hidden;
}

.TextContainer h2, .TextContainer p{
  color: black;
}

.TextContainer h3 {
  color: black;
  margin: 0;
  margin-top: 6%;
}

.TextContainer h2 {
   padding-top: 2%;
}

.TextContainer img {
   float: right;
}

.ImageConatiner {
  height: 800px;
  width: 450px;
  background-color: white;
  float: right;
}

.TextBoard{
  width: 400px;
  background: white;
  color: black;
  float: left;
  height: 400px;
  margin: 0%;
  padding: 0%;
  margin-top: 2%;
  box-sizing: border-box;
}

.TextBoard p, .TextBoard ul, .TextBoard li, .TextBoard h3 {
  color: black;
}

.TextContainer .FalconImage img {
   float: left;
   padding-right: 16%;
}

.TextContainer .DragonImage img {
  float: left;
  margin-right: 3%;
  margin-bottom: 5%;
}

.button1 {
  background-color: coral;
  color: white;
  border: 0;
  position: relative;
}

.button1:hover{
  background-color: #333;
}

.modal, .modal2{
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content, .modal-content2 {
  background-color: #f4f4f4;
  margin: 20% auto;
  padding: 20px;
  width: 45%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
  animation-name:modalopen;
  animation-duration:1s;
}

.closeBtn, .closeBtn2 {
  color: black;
  float: right;
  font-size: 30px;
}

.closeBtn:hover, .closeBtn:focus, .closeBtn2:hover, .closeBtn2:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@keyframes modalopen {
  from{ opacity: 0};
  to{opacity: 1};

}

.ImageConatiner #modalBtn {
  z-index: 2;
  bottom: 5%;
  left: 18%;
}

.ImageConatiner #modalBtn2 {
  z-index: 2;
  bottom: 100%;
  left: 8%;
}

.TextContainer ul, .TextContainer li {
  color: black;
}

.TextBoardRight{
  width: 400px;
  background: white;
  color: black;
  float: right;
  height: 370px;
  margin: 0%;
  padding: 0%;
  margin-top: 2%;
  box-sizing: border-box;
  margin-bottom: 2%;
}

.TextBoardRight p, .TextBoardRight ul, .TextBoardRight li, .TextBoardRight h3 {
  color: black;
}
